newsToDay/newsToDay.xcodeproj/project.xcworkspace/xcuserdata/sergeyzakurakin.xcuserdatad/UserInterfaceState.xcuserstate
newsToDay/newsToDay.xcodeproj/xcuserdata/sergeyzakurakin.xcuserdatad/xcschemes/xcschememanagement.plist
